body,
html {
  background-color: rgb(21, 169, 223);
  height: 100%;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
.portada {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: auto;
  margin: 0;
  padding: 0;
}
.portada img {
  width: 100%;
  height: auto;
  max-width: 100%;
  object-fit: cover;
}
.contenedor {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 800px;
}
nav p {
  display: inline;
}
nav ul {
  justify-content: space-around;
}
.navbar {
  border-bottom: solid black 15px;
}

main img {
  justify-content: center;
  max-width: 100%;
  max-height: auto;
}
.map-container {
  width: fit-content;
  height: fit-content;
  flex: 1;
  margin-right: 20px;
}
.informacion-contacto {
  padding: 10px;
  background-color: aliceblue;
}
.titulo {
  text-align: center;
}
.Misión,
.visión {
  padding: 10px;
  margin: 2cm;
  background-color: aliceblue;
  text-align: center;
  font-size: larger;
}
.boxes {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}
.box {
  flex: 0 1 20%;
  box-sizing: border-box;
}
.box img {
  max-width: 100%;
  height: auto;
  text-align: center;
}

.galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Cuadrícula flexible */
  gap: 15px; /* Espacio uniforme entre imágenes */
  max-width: 90vw;
  margin: 0 auto; /* Centrar la galería */
  padding: 20px;
}

.imagen {
  position: relative;
  overflow: hidden;
  aspect-ratio: 1 / 1; /* Proporción cuadrada para el contenedor */
  border-radius: 8px; /* Bordes redondeados para mejor estética */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta la imagen para llenar el contenedor */
}

.ubicacion-contacto {
  display: flex;
  flex-wrap: wrap;
}
.formulario-contacto {
  flex: 1;
}
footer {
  position: relative;
  bottom: 0;
  width: 100%;
}
.index {
  width: 100vw;
  height: 100vh;
  overflow-x:hidden;
}
.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

@media (max-width: 576px) {
  .contactoBody{overflow-x: hidden;}
  .ubicacion-contacto {
    flex-direction: column;
    margin-inline: 0;
  }
  .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
  .map-container {
    margin-right: 0;
    margin-left: 0;
  }
  .container {
    width: fit-content;
    display: grid;
  }
  .Misión,
  .visión, .instructores {
    width: 99vw;
    margin: 0;
    font-size: 15px;
    padding-inline: 20%;
    text-align: justify;
    margin-block: 10px;
    background-color: aliceblue;
  }
  .map,
  .form {
    display: grid;
    max-width: 90vw;
    max-height: 100vh;
    margin-block: 10px;
    margin-inline-start: 0;
  }
}

@media (min-width: 576px) {
  .map {
    width: 500px;
    height: 400px;
  }
}
