body, html {background-color:rgb(21, 169, 223); height: 100%; justify-content: center; align-items: center;margin: 0;}
.portada{display: flex; flex-wrap: wrap;}
.contenedor {
    display: flex;
    justify-content: space-around; 
    width: 100%; 
    max-width: 800px; 
}
nav p{display: inline;}
nav ul{justify-content: space-around;}
main img {justify-content: center; max-width: 100%; max-height: auto;}
.map-container {width: fit-content; height: fit-content;     flex: 1;
    margin-right: 20px;}
.informacion-contacto {padding: 10px;background-color: aliceblue;}
.titulo {text-align: center;}
.Misión, .visión{padding: 10px;margin:2cm; background-color: aliceblue;text-align: center;font-size: larger;}
.boxes{display: flex; justify-content: left; flex-wrap: wrap;}
.box{flex:0 1 20%; box-sizing: border-box;}
.box img{max-width: 100%; height: auto; text-align: center;}
.ubicacion-contacto {display: flex;flex-wrap: wrap;}
.formulario-contacto {flex: 1;}
@media screen and (max-width: 100%) {
    .ubicacion-contacto {
        flex-direction: column;}
    .map-container {
        margin-right: 0;}}